{
  "presets": [[
    "@babel/env",
    {
      "corejs": 3, //'it's a version of library
      "useBuiltIns": "usage",
      "debug": true,
      "modules": false,
    }
  ]],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}